*.pyc
# .vscode
temp*
outputs*
debug*
log*
wandb*
*.bak
data
*build/*
*__pycache__*
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.so
output
datasets
ouputs
small_city
# submodules
*.out
gs_datasets
real
synthetic
*.npy
3dgs_ply.zip
CLAUDE.md
*.zip
*.png
*.pdf
cvpr
ouputs*
output*
mesh_output
*.ply
submodules/diff-gaussian-rasterization/cuda_rasterizer/auxiliary.h
submodules/diff-gaussian-rasterization/diff_gaussian_rasterization.egg-info/PKG-INFO
submodules/simple-knn/simple_knn.egg-info/PKG-INFO
campus.sh
init_pointcloud
count_faces.py
psnr_comparison_result.txt
proxy-gs
per_view-w.json
per_view-wo.json
MatrixCity
campus_2.sh
campus_1.sh
submodules/diff-gaussian-rasterization/diff_gaussian_rasterization.egg-info/PKG-INFO
submodules/diff-gaussian-rasterization/diff_gaussian_rasterization.egg-info/PKG-INFO
compare_psnr.py
render_campus.py
render_real.py
render_real_small_city.py
Untitled
render_real.py
=10.1
